@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.playfair {
	font-family: "Playfair Display", serif;
}

.playfair-extrabold {
	font-family: "Playfair Display", serif;
	font-weight: 900;
}
.playfair-italic {
	font-family: "Playfair Display", serif;
	font-style: italic;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	z-index: 1000;
	background: #c084fc;
	transform-origin: 0%;
}
